@font-face {
    font-family: "friday";
    src: url("/games/Friday13.ttf");
    font-size: 1.5rem;
  }

body {
    overflow: hidden;
    height: 700px;
   /* background: radial-gradient(at top, #000000, #492323); */
    background-image: url(/games/aokigahara-forest-dark-style1-500.webp);
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: center;
}

.main {
    margin-top: 200px;
}

button {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: "friday";
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
    font-size: 150px;
    color: rgb(150, 21, 21);
    text-shadow: 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    transition: text-shadow 1s ease;
    user-select: none;
}

button:hover {
    text-shadow: 1px 1px 2px rgb(146, 19, 19), 0 0 5em rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);
    transition: text-shadow 1s ease;
}

@media (max-width: 610px) {
    button {
        font-size: 100px;
    }
}

@media (max-width: 413px) {
    button {
        font-size: 70px;
    }
}

@media (max-width: 303px) {
    button {
        font-size: 50px;
    }
}
